site_name: "NXON Documentation"
site_url: https://docs.nxon.ai
nav:
  - Home: index.md
  - Quick Start: quickstart.md
  - Organization: organization.md
  - GPU Cloud:
    - Serverless Endpoint: features/endpoint.md
    - GPU Pod: features/gpupod.md
    - Bare Metal: features/baremetal.md
    - Storage: features/storage.md
  - Inference As A Service:
    - features/iaas/index.md
    - Playground: features/iaas/playground.md
    - Model Market: features/iaas/modelmarket.md
    - Model Service: features/iaas/modelservice.md
  - Training Services:
    - features/training/index.md
    - Training Service: features/training/training.md
    - Finetune Service: features/training/finetune.md
  - Support:
    - Billing and Cost Management: billing.md
    - Security and Compliance: security.md
    - Technical Support: technical.md
    - Terms of Service: termsofservice.md
    - Privacy Policy: privacypolicy.md
  - Update Log: updatelog.md

site_dir: public
theme:
  name: material
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - navigation.expand
    #- navigation.footer
    - navigation.indexes
    - navigation.sections
    - navigation.top
    - navigation.tracking
    - navigation.path
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep-purple
      accent: deep-purple
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep-purple
      accent: deep-purple
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference
  font:
    text: Plus Jakarta Sans
    code: Roboto Mono
  favicon: assets/favicon.ico
  icon:
    logo: logo
  logo: assets/logo.png

plugins:
  - blog
  - macros
  - minify:
        minify_html: true
  - search:
      separator: '[\s\u200b\-_,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'

extra:
  user_name: NXON.AI
  company_name: NXON AI FACTORY PTY LTD
  resource_dir_name: nxon
  cloud_url: cloudflex.nxon.ai:20079
  landing_url: nxon.ai
  generator: false
  status:
    new: Recently added
    deprecated: Deprecated
  analytics:
    provider: google
    property: !ENV GOOGLE_ANALYTICS_KEY
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/squidfunk
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/r/squidfunk/mkdocs-material/
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/mkdocs-material/
    - icon: fontawesome/brands/mastodon
      link: https://fosstodon.org/@squidfunk
    - icon: fontawesome/brands/x-twitter
      link: https://twitter.com/squidfunk

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      normalize_issue_symbols: true
      repo_url_shorthand: true
      user: "squidfunk"
      repo: "mkdocs-material"
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      auto_append:
        - includes/mkdocs.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

not_in_nav: "/tutorials/**/*.md"
